@model dynamic

@{
    ViewBag.Title = "title";
}
@section Head{
    <link href="~/Content/Mycss/carouselContact.css" rel="stylesheet">
}


<!-- Carousel
   ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="item">
    </div>
</div><!-- /.carousel -->

<h1> Falha na reserva</h1>
