@using LogicModelLibrary
@model Info

@{
    ViewBag.Title = "PartialView";
}

<div class="container marketing" id="MediaContainer">
    <!--<h2> Label </h2>-->
    <hr />
    @foreach (RealEstate rs in Model.LiEstates)
    {
        <div class="media" id="">
            <a class="pull-left" href="~/Destination/@rs.id">
                <img class="media-object" src="../../Images/@rs.Photos.Photos[@rs.Photos.Highlight]" data-src="holder.js/300%x200" height="200" width=300 alt="...">
            </a>

            <div class="media-body">
                <h4 class="media-heading"> @rs.ShortName </h4>
                <p> @rs.LongDescription </p>
            </div>
        </div>
        <hr />
    }

</div>
