@model dynamic

@{
    ViewBag.Title = "title";
  
}
@section Head{
    <link href="../../Content/Mycss/carousel.css" rel="stylesheet">
}


<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="item">
    </div>
</div><!-- /.carousel -->
<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container marketing">
    <div class="info">
        <h2>Pedimos desculpa, mas não foi possivel encontrar a sua pesquisa!</h2>
        <img src="/Images/Casa_abandonada_en_Guísamo,_Bergondo,_Galiza.jpg" id="imageAlter" height="500" width="1200">
        
    </div>
</div>


