@{
    ViewBag.Title = "Index";
}

@section Head{
    <link href="../../Content/Mycss/carouselContact.css" rel="stylesheet">
}
<body>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="item">
        </div>
    </div><!-- /.carousel -->

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
        <div class="info">       
          <h2>Contact Form </h2>
          <p>Your suggestion means the world for us</p>
      </div>
		<div class="Contact-form" >
			
		    <form method="POST" action="contact" enctype="application/x-www-form-urlencoded" id="ContactForm">
		        <div>
		            <label for="Email"> Insert your email: </label>
		            <input type="Email" class="form-control" placeholder="Email"  id ="Email" name="Email">
		        </div>
		        <div>
		            <label for="Suggestion"> Insert your suggestion:  </label>
                    <textarea class="form-control" rows="5" placeholder="Suggestion" id="Suggestions" name="Suggestions" form="ContactForm"> </textarea>
		        </div>
                <button type="submit" class="btn btn-default"> Submit </button>
		    </form>
           
	  </div>
	</div>

